DEFAULT menu.c32
NOHALT 1
PROMPT 0
TIMEOUT 80

MENU TITLE Boot Menu

LABEL centos7 install
KERNEL images/centos7/vmlinuz
APPEND initrd=/images/centos7/initrd.img inst.repo=ftp://192.168.0.107/pub/centos7
MENU LABEL ^centos7 installer

LABEL ubuntu18 install
KERNEL images/ubuntu18/ubuntu-installer/amd64/linux
APPEND initrd=images/ubuntu18/ubuntu-installer/amd64/initrd.gz url=ftp://192.168.0.107/pub/ubuntu18/preseed/local-sources.seed ip=dhcp
MENU LABEL ^ubuntu18 installer

LABEL esxi65 install
KERNEL images/esxi65/mboot.c32
APPEND -c images/esxi65/boot.cfg
MENU LABEL ^esxi65 installer

LABEL esxi67 install
KERNEL images/esxi67/mboot.c32
APPEND -c images/esxi67/boot.cfg
MENU LABEL esxi67 installer

LABEL hddboot
LOCALBOOT 0x80
MENU LABEL ^Boot from local disk
